<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
        <div class="menu">
          <a href="/arquivo">/arquivo</a>
          <a href="/sobre">/sobre</a>
          <a href="/projetos">/projetos</a>
          <a href="/apresentacoes">/apresentações</a>
          <a href="/contato">/contato</a>
        </div>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <!-- <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. Todos os direitos reservados. -->
        </small>
      </footer>
    </div>

  </body>
</html>
